* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
    text-decoration: none;
}

body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 35em; */
}

form {
    background-color: aliceblue;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: calc(30em/40);
    width: 25em;
    height: 30em;
    margin-top: 4em;

}

form h2 {
    margin-top: 1em;
    font-size: xx-large;
}

form .f-t {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form .f-t button {
    width: 9em;
    height: 3em;
    border: none;
    font-size: large;
    border-radius: calc(3em/10);
    color: aliceblue;
}

.f-t .f {
    background-color: blue;

}

.f-t .t {

    background-color: rgb(118, 176, 238);
}

.inputs {
    margin-top: 1em;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(73, 72, 72, 0.445);
    border-radius: calc(3em/10);
}

.inputs i {
    margin-left: 0.4em;
    margin-right: 0.2em;
}

.inputs input {
    width: 100%;
    border: none;
    height: 3em;
}

.part-of-remember {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

}

.part-of-remember div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-of-remember div input {
    width: 2em;

}

form .login {
    margin-top: 1em;
    width: 80%;
    height: 3em;
    font-size: larger;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: 800;

}

form p {
    margin-top: 1.2em;
    font-size: large;
}

@media only screen and (max-width: 400px) {
    form {

        width: 20em;
        height: 28em;
    }

    form h2 {
        font-size: x-large;

    }

    form .f-t button {
        width: 8em;
        height: 2em;

    }

    form .part-of-remember {
        width: 100%;
    }

    form .part-of-remember a,
    .part-of-remember span {
        font-size: small;
        margin-left: 0.2em;
        margin-right: 0.4em;

    }

    form .login {
        height: 2em;
    }

    form p {
        font-size: medium;
    }
}

@media only screen and (max-height: 1000px) {
    form {
        margin-top: 12em;
    }

}

@media only screen and (max-height: 900px) {
    form {
        margin-top: 10em;
    }

}

@media only screen and (max-height: 812px) {
    form {
        margin-top: 8em;
    }

    form .f-t button {
        width: 7em;
        height: 2em;
    }

    form p {
        margin-top: 3em;

    }
}

@media only screen and (max-height: 700px) {
    form {
        margin-top: 6em;
        width: 18em;
        height: 25em;

    }

    form .f-t button {
        width: 7em;
        height: 2em;
    }

    form p {
        margin-top: 2em;

    }

}

@media only screen and (max-height: 600px) {
    form {
        margin-top: 4em;
        width: 18em;

    }

    form .f-t button {
        width: 7em;
        height: 2em;
    }

    form p {
        margin-top: 2em;

    }

}

@media only screen and (max-height: 570px) {
    form {
        margin-top: 3em;
        width: 18em;



    }

    form .f-t button {
        width: 7em;
        height: 2em;
    }

    form p {
        margin-top: 1.8em;

    }

}