* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 20em;
    width: 100%;
    background-image: url(./image/premium_photo-1701590725747-ac131d4dcffd.jpg);

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav h1 {
    margin-left: 1em;
    color: orange;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    margin: 1em;
    list-style: none;
}

nav ul li>a {
    text-decoration: none;
    color: aliceblue;
}

header .center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}

.center>p,
.center>h1 {
    margin-bottom: calc(1em/2);
    color: aliceblue;
}

.center button {
    width: 10em;
    height: 3em;
    font-size: medium;
    background-color: orange;
    color: aliceblue;
    font-weight: 530;
    border: none;

}

section {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .lorem {
    margin-top: 1em;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 15em;
}

section .container .card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 1em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 1rem;
}

section .container .card .bg-icones {
    width: 6em;
    margin: 1em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(6em/2);
    background-color: orange;
    color: aliceblue;
}

section .container .card .bg-icones i {
    font-size: xx-large;
}

section .container .card>p,
section .container .card>h4 {
    text-align: center;
    margin-top: 1em;
    
}
section .container .card>p{
    overflow: hidden;
}


.portfolio-section {
    width: 80%;
}

section .portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;


}

section .portfolio-container .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    height: 18em;
}

.portfolio-container .card h4,
.portfolio-container .card p {
    margin-top: calc(2em/2.4);

}

.O-A-T {
    background-color: rgba(255, 255, 255, 0.558);
    height: 34em;
}

.O-A-T h2 {
    margin-top: 1em;
}

.O-A-T p {
    margin-top: 0.5em;
}

section .card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2em;
    width: 100%;


}

section .card-container .card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container .card img {
    width: 10em;
    height: 10em;
    border: 5px solid rgba(128, 128, 128, 0.56);
    border-radius: calc(10em/2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.card-container .card h3 {
    margin-top: 1em;
}

.card-container .card p {
    margin-top: 0.5em;
}

.card-container .card .contact-us {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-container .card .contact-us>div>a {
    margin: 1em;
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: calc(2em/2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.O-A-T-END-P {
    width: 100%;
    text-align: center;
    margin-top: 2.5em;
}

footer {
    width: 100%;
    height: 10em;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

}

footer .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(185, 180, 180);

}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}

footer .bottom p {
    margin-left: 1em;
}

.bottom .contact-us {
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.bottom .contact-us>div {
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: calc(2em/2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 2em;
}